.mycv {
    margin: 0 auto;
    padding: 16px 32px; 
    width: 600px;
    font-size: 18px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    font-family: 'Times New Roman';
    color: #333;
    line-height: 20px;
}

.mycv ol {
    color: blue;
}

.mycv p {
    color: #555;
}

.mycv img {
    width: 150px;
    margin: 0 auto 5px;
    display: block;
    border: 2px solid black;
}

.mycv h1, .mycv h2, .mycv h3, .mycv h4, .mycv h5, .mycv h6 {
    color: blue;
}

.mycv h1 {
    font-size: 50px;
    color: purple;
    text-align: center;
}