.mycv {
    margin: 0 auto;
    padding: 16px 32px; 
    width: 500px;
    font-size: 16px;
    border: 2px solid #ccc;
    background: white;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    line-height: 20px;
}

.mycv ol {
    color: blue;
}

.mycv p {
    color: #555;
}

.mycv img {
    width: 200px;
    margin: 0 auto 5px;
    display: block;
    border: 2px solid black;
}

.mycv h1, .mycv h2, .mycv h3, .mycv h4, .mycv h5, .mycv h6 {
    color: blue;
}

.mycv h1 {
    font-size: 50px;
    color: black;
    text-align: center;
}

.mycv audio {
    width: 200px;
    height: 30px;
    display: block;
    margin: 10px 0;
}
